@page "/"

<h1>
    <p><a href="@emailAdress">@emailAdress</a></p>
</h1>
<p>Для работы приложение должно быть запущено от имени Администратора, если вы запускаете приложение через Visual Studio тогда сама студия должна быть запущена от имени Администратора </p>
<p> Для коретной роботы приложения нужно его опубликовать, иначе будет не коректное отображение в браузере</p>
<p>1. Для начала работы вам нужно создать папку на своем гугл диске и открыть доступ к ней сервисному акаунту приложения "@emailAdress"</p>
<p>2. После этого создайте задачу для бекапа вашого файла на странице" <a href="/createtask">Create Task</a> </p>
<p>3. Создание задачи </p>
<ul>
    <li>
        <b>Имя задачи:</b> Придумайте название для задачи;
    </li>

    <li>
        <b> Путь к файлу бекапа:</b> Укажите путь к файлу или папке который(ю) нужно резервировать также вы можете нажать на кнопу + и воспользоватся поиском по каталогу после заполнения полеей поиска рядом ввыпадающем списке появятся выпадающий список файлов

    </li>
    <li>
        <b>Выберете папку на гугл диске:</b> Выберете из выпадающего списка название папки которую вы создали на перевом этапе
    </li>
    <li>
        <b>Удалять файлы старше:</b> Укажите которое количество дней хранить данный бекап на гугл диске
    </li>
</ul>

<p>
    <b>Для работы в продакшене приймите правело</b> что каждый бекап должен лежать в отдельной папке на гугл диске которую для безопасности лучше создать не из приложения!
</p>
<p>Ниже привидена блок схема иерархии папок на гугл диске для бекапов:</p>
<img src="./img/TreeBackup.png" alt="Alternate Text" />
@*<button type="button" @onclick="F"> F</button>*@
@code
{ private TaskObjectModel taskObjectModel = new TaskObjectModel();
            private string emailAdress;
            ReadJsonServiseAccount readJson = new ReadJsonServiseAccount();


            protected async override Task OnInitializedAsync()
            {

                await Task.Delay(1000);


                await readJson.ReadFromServiceAccount();
                emailAdress = readJson.EmailServiceAccount;



            }

            public void F()
            {
                //CopyObject copy = new CopyObject(@"D:\1\");

                // copy.copyFile(@"D:\1\");
                //Logger logger = new Logger();
                //logger.LogWrite("hi ", Logger.typeLog.Warning);
                //logger.LogTelegramm("hi ", Logger.typeLog.Warning);
            } }

